body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    flex-wrap: nowrap;
}

.name {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button {
    width: 200px;
}
